body {
    margin: 0;
    font-family: arial, serif;
}

/* Header section
================== */
header {
    position: absolute;
    width: 100%;
    font-size: 13px;
}

header a:visited, a:active, a:link {
    color: black;
 }

.topleftlinks {
    position: relative;
    margin-left: 15px;
    top: 23px;
    left: 10px;
    text-decoration: none;
}

.topright {
    float: right;
 }

.toprightlinks{
    position: relative;
    top: 23px;
    margin-right: 15px;
    right: 80px;
    text-decoration: none;
}

#bowrow {
    position: absolute;
    width: 20px;
    right: 60px;
    top: 23px;
}

#name {
    background-color: blue;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    top: 18px;
    width: 30px;
    right: 15px;
 }

#name p {
    position: absolute;
    color: white;
    text-align: center;
    top: -11px;
    right: 10px;
    font-size: 17px;
}

/* Center section 
================== */
.hero-main {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.google {
    text-align: center;
}

#logo {
    width: 272px;
}

#search-box {
    background: url('img/magnify-glass.png') 10px / 15px no-repeat, url('img/microphone.png') 450px / 25px no-repeat; 
    border: 1px solid lightgray;
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    padding-left: 40px;
    position: relative;
    width: 430px;
}

.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    color: #717171;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 125px;
 }
 
 #vacation {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 13px;
     text-align: center;
 }

 #vacation a {
     color: darkblue;
    text-decoration: none;
 }

/* Footer section
================== */
footer {
    background-color: #f2f2f2;
    border-top: 1px solid #f3f3f3;
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
    padding-top: 10px;
 
}

footer a:visited, footer a:active, footer a:link {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding-left: 30px;
 }

#bottomright {
    float: right;
    padding-right: 30px;
}